@import '~bootstrap/scss/bootstrap';
@import './partials/header.scss';
@import './partials/main.scss';
@import './partials/footer.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    li {
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }
}

.show-film-container {
    background-color: #1c1c1c;
    color: rgba(255, 255, 255, 0.8);

    img {
        height: 25rem;
    }
}

.container-form-card {
    background-color: rgba($color: #1c1c1c, $alpha: 0.8);
    color: rgba(255, 255, 255, 0.9);

    .form-group {
        padding-bottom: 1rem;
    }
}

.button-modifica {
    font-size: 0.7rem;
    padding: 0.3rem;
}